#navbar{
    flex-direction: column;
    padding-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    /*overflow: hidden;*/
    height: 90px;
}

#navbar ul{
    flex-wrap: wrap;
}

#training .items{
    flex-direction: column;
}

#training .items .item{
    width: 100%;
}

.courses .course{
    flex-direction: column;
}

#information{
    flex-direction: column;
}


#project .items{
    flex-direction: column;
}

#project .items .item{
    width: 100%;
}
